@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap");

:root {
  --gradient: linear-gradient(
    -45deg,
    hsl(237, 63%, 64%),
    hsl(236, 72%, 79%) 100%
  );
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: hsl(240, 78%, 98%);
  background-image: url("./images/bg-top.svg"), url("./images//bg-bottom.svg");
  background-position: 50vw -5%, bottom left;
  background-size: contain, contain;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: 100%;
  margin: 4rem auto;

  display: grid;
  justify-items: center;
  gap: 3rem;
}

.heading {
  font-family: "Montserrat";
  font-weight: 900;

  font-size: 2rem;

  color: hsl(232, 13%, 33%);
}

.switch-container {
  display: grid;
  grid-template-columns: repeat(3, auto);

  gap: 1rem;

  align-items: center;

  font-family: "Montserrat";
  font-weight: 700;

  color: hsl(234, 14%, 74%);
}

.toggle {
  width: 4rem;
  height: 2rem;
  border-radius: 1rem;

  background: var(--gradient);

  position: relative;
}

.toggle-fill {
  position: absolute;

  width: 40%;
  height: 80%;

  border-radius: 100%;

  background: #fff;

  left: 3px;
  top: 3px;

  transition: transform 0.4s ease-in;
}

.toggle-input {
  display: none;
}

.toggle-input:checked ~ .toggle-fill {
  transform: translateX(2rem);
}

.card-container {
  display: grid;

  justify-items: center;
  row-gap: 3rem;
}

.card {
  width: 100%;
  padding: 3rem 1.2rem;

  display: grid;
  gap: 3.5rem;

  background-color: #fff;

  border-radius: 0.5rem;
  box-shadow: 2px 4px 20px hsl(234, 14%, 74%);

  font-family: "Montserrat";

  color: hsl(232, 13%, 33%);
}

@media (min-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
  }

  .card-container > .main {
    transform: scaleY(1.1);
  }

  .card {
    width: auto;
  }

  body {
    background-position: top right, bottom left;
    background-size: 24rem, 24rem;
  }
}

.pricing-heading {
  font-weight: 700;
  font-size: 1.2rem;

  text-align: center;
}

.pricing-container {
  display: grid;
  grid-template-columns: repeat(2, auto);

  font-weight: 900;

  gap: 0.5rem;

  align-items: center;
  justify-content: center;

  line-height: 100%;
}

.pricing-value {
  font-size: 5rem;
}

.pricing-currency {
  font-size: 2.5rem;
}

.features-container {
  width: 95%;
  margin: 0 auto;

  border-top: 1px solid hsl(234, 14%, 74%);
  border-bottom: 1px solid hsl(234, 14%, 74%);

  padding-top: 1rem;
  padding-bottom: 1rem;

  display: grid;
  gap: 1rem;

  text-align: center;
}

.feature:nth-child(2) {
  border-top: 1px solid hsl(234, 14%, 74%);
  border-bottom: 1px solid hsl(234, 14%, 74%);

  padding-top: 1rem;
  padding-bottom: 1rem;
}

.feature {
  font-weight: 700;
}

.pricing-cta {
  padding: 1rem;

  border: none;
  border-radius: 6px;
  background: #fff;

  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 800;

  color: hsl(237, 63%, 64%);

  border: 1px solid transparent;

  transition: 0.2s ease-in;
}

.pricing-cta:hover {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

.main {
  background: var(--gradient);
  color: #fff;
}

.pricing-cta.main:hover {
  border: 1px solid hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
}
